@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Overall */

*:not(i){
    font-family: "Open Sans", sans-serif;
}

body{
    padding-top: 4rem; /* Pour compenser la navbar fixed */
    background: #eee;
}

.btn,
.dropdown-menu,
input,
select,
.input-group-addon,
.card,
.alert{
    border-radius: 0 !important;
}

.btn{
    margin-bottom: 1rem;
}
.btn:hover{
    cursor: pointer;
}

.cadre{
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
}

.datepickerSelect{
    border-top: none;
}

.card-header{
    font-weight: 700;
}

/* tableaux */

table *{
    text-align: center;
}

.table th,
.table td{
    border: none !important;
}

.table th:not(:last-of-type), 
.table td:not(:last-of-type){
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}

.table thead{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}

.table tbody td{
    vertical-align: middle;
}

/* Barre de navigation */

#overallNavbar{
    background: #0275d8;
    padding: .2rem 1rem;
    min-height: 2.9rem;
}

.nav-link{
    color: rgba(255,255,255,0.7);
}

.nav-link:hover{
    color: white;
}

.nav-link:focus{
    color: white
}

.navbar-brand{
    color: white !important;
}

.dropdown-header{
    color: #0275d8;
    font-weight: 700;
}

.dropdown-item{
    color: black !important;
}

/* Onglets */

.nav-tabs{
    margin-bottom: 1rem;
}

.nav-tabs .nav-item{
    margin-bottom: 0;
}

.nav-tabs .nav-link{
    color: rgba(70,74,76,0.7);
    border-radius: 0;
}

.nav-tabs .nav-link.active{
    color: #464a4c;
}